/* Estilos para la página de inicio de sesión */

.bg-custom {
  background-color: #520606;
  padding: 20px;
}

.btn-custom {
  background-color: #520606;
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  border: none;
}

.btn-custom:hover {
  background-color: #860808;
  color: #fff;
}

.d-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/* Estilos para los Toasts de error de inicio de sesión */
.toast-error {
  background-color: #ff0033; 
  color: #fff; 
  border-radius: 5px; 
  margin-top: 20px; 
  padding: 10px 20px; 
  max-width: 300px; 
  text-align: center; 
}

/* Animación para el Toast de error */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.toast-error.show {
  animation: slideDown 0.5s ease-in-out forwards;
}


/* Media query para dispositivos con ancho menor o igual a 768px */
@media (max-width: 768px) {
  .bg-custom {
    padding: 10px;
  }
}
