/* Estilos para la página de inicio de sesión */

.bg-custom {
  background-color: #520606;
  padding: 20px;
}

.btn-custom {
  background-color: #520606;
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  border: none;
}

.btn-custom:hover {
  background-color: #860808;
  color: #fff;
}

.d-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Media query para dispositivos con ancho menor o igual a 768px */
@media (max-width: 768px) {
  .bg-custom {
    padding: 10px;
  }
}
