.form-content {
    padding: 20px; /* Ajusta el espacio alrededor del contenido */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color del texto en el contenido */
    display: inline-block; /* Evita que el contenido ocupe toda la página */
  
    label {
      font-weight: bold;
      color: #fff;
    }
  
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }