@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.home {
  display: flex;
  height: 100vh;
  background-color: #ffffff;


  .homeContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 250px;
    width: calc(100% - 250px);
     
    .header {
      color: #4e4e4e;
      margin: 20px 0;
      //Fondo negro

    }
    
    h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 700; /* Puedes ajustar el peso según tus necesidades */
      //Tamaño de fuente responsiva
      font-size: calc(1rem + 1vw);
  }
  

    .body {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: auto;
      align-items: center;
      

      .componentArea {
        width: 100%;
      }
    }

    .footer {
      padding: 10px;
      color: #414141;
    }
  }
}
