/* styles.scss */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
}

.container {
  position: relative; /* Asegura que el contenedor sea posicionado para que el canvas pueda superponerse */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  // color: #00ffff;
  z-index: 1;
}

video {
  border: 2px solid #333;
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: relative; /* Asegura que el video tenga una posición establecida */
  z-index: 0;
}
